
  <div class="logo-navbar">
    <%= link_to homepage_path do %>
      <%= image_tag("began-logo.png", alt: "Began logo", class: "desktop-logo") %>
    <% end %>
  </div>

  <div class="icon-navbar">

    <ul class="icon-nav">
      <% if user_signed_in? %>
        <%= link_to homepage_path do %>
        <% end %>

        <li class="footer-nav-item <%= params[:action] == 'challenge' ? 'active' : '' %> ">
          <% if current_user.category.nil? %>
            <%= link_to choose_category_path do %>
              <i class="fas fa-play"></i>
            <% end %>
          <% else %>
            <% if current_user.challenges.empty? %>
              <%= link_to category_path(current_user.category) do %>
                <i class="fas fa-play"></i>
              <% end %>
            <% else %>
              <%= link_to category_path(current_user.category, anchor: current_user.challenges.last.position) do %>
                <i class="fas fa-play"></i>
              <% end %>
            <% end %>
          <% end %>
        </li>

      <li class="nav-item <%= params[:action] == 'meat_counter' ? 'active' : '' %>">
        <%= link_to meat_counter_path  do %>
          <i class="fas fa-calendar"></i>
        <% end %>
      </li>

      <li class="nav-item <%= params[:action] == 'cookbook' ? 'active' : '' %>">
        <%= link_to cookbook_path do %>
        <i class="fas fa-utensil-spoon"></i>
        <% end %>
      </li>

      <li class="nav-item <%= params[:action] == 'all_recipes' ? 'active' : '' %>">
        <%= link_to all_recipes_path do %>
          <i class="fas fa-utensils"></i>
        <% end %>
      </li>

      <li class="nav-item <%= @forum ? 'active' : '' %> ">
          <%= link_to posts_path do %>
            <i class="fas fa-users"></i>
          <% end %>
      </li>

      <li class="nav-item <%= params[:action] == 'category' ? 'active' : '' %>">
        <%= link_to choose_category_path  do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to about_path  do %>
          <div class="b-small-logo">
            <i id="small-icon" class="fas fa-circle"></i><span class="letter-logo">b</span>
          </div>
        <% end %>
      </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>

    </ul>
  </div>
