
  <div class="logo-navbar">
    <%= link_to homepage_path do %>
      <%= image_tag("began-logo.png", alt: "Began logo", class: "logo") %>
    <% end %>
  </div>

  <div class="icon-navbar">
    <ul>
      <li class="nav-item active">
        <% if current_user.category.nil? %>
              <%= link_to choose_category_path do %>
                <i class="fas fa-play"></i>
              <% end %>
            <% else %>
              <% if current_user.challenges.empty? %>
                <%= link_to category_path(current_user.category) do %>
                  <i class="fas fa-play"></i>
                <% end %>
              <% else %>
                <%= link_to category_path(current_user.category, anchor: current_user.challenges.last.position) do %>
                  <i class="fas fa-play"></i>
                <% end %>
              <% end %>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to meat_counter_path  do %>
          <i class="fas fa-calendar"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to cookbook_path do %>
        <i class="fas fa-utensil-spoon"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to all_recipes_path do %>
        <i class="fas fa-utensils"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to choose_category_path  do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to about_path  do %>
          <%= image_tag("began_logo_small.png", alt: "Began logo", class: "nav-logo") %>
        <% end %>
      </li>
    </ul>
  </div>



